
:root {
  --color-1: #34421E;
  --color-2: #C19434;
  --color-3: #F1F1EF;
}

.carousel {
  height: 250px !important;
}

.black-fade {
  background-color: var(--color-1);
}

.App {
  background-color: var(--color-3);
}

.nav-wrapper {
  background-color: var(--color-1);
}

.side-nav {
  background-color: var(--color-1);
}

nav a {
  color: var(--color-2);
}

nav .brand-logo {
  color: var(--color-2);
}

p {
  color: var(--color-2);
}

h2 {
  border-radius: 25px;
  border: 2px solid var(--color-1);
  text-align: center;
  color: var(--color-2);
  padding: 10px;
}

h5 a{
  color: var(--color-2)
}

.side-nav li a{
  color: var(--color-2);
}
